___
# Exercício: Análise Exploratória - Variáveis Quantitativas
___

## Aula 03

## Índice

- [PERFOMANCE DE ESTUDANTES EM EXAMES](#students)

    
- [Base de dados e Dicionário das variáveis](#dados)
- [Leitura da base de dados](#leitura)
- [Preparo da base de dados](#preparo)


- [Exercício 1](#ex1) 
- [Exercício 2](#ex2)

In [1]:
%matplotlib inline
import math
import os

import matplotlib.pyplot as plt
import numpy as np
from numpy import arange
import pandas as pd

from scipy import stats #importa apenas as funções de estatísticas da biblioteca SciPy.

from IPython.display import display  # Para ter melhor print.

___
<div id="students"></div>

# PERFORMANCE DE ESTUDANTES EM EXAMES

<img src="students.jpg" height="400">

Fonte: extraído da internet

<div id="dados"></div>

## Base de dados e Dicionário das variáveis:

A base de dados foi extraída da plataforma [Kaggle](https://www.kaggle.com/spscientist/students-performance-in-exams) intitulado “Students Performance in Exams”, cujo objetivo principal é verificar a performance do estudante considerando seu *background*. Ainda, para essa avaliação, a base de dados original passou por algumas transformações, como acréscimo de novas variáveis.

Essa base de dados possui informação de $1.000$ estudantes.

As variáveis apresentadas na base de dados `StudentsPerformance.csv` são:
 * `gender`: categozido em ['female', 'male'];
 * `race/ethnicity`: categorizado em ['group A', 'group B', 'group C', 'group D', 'group E'];
 * `parental level of education`: categorizado em ['some high school', 'high school', 'some college', 'associate's degree', 'bachelor's degree', 'master's degree'], respeitando essa ordem natural;
 * `lunch`: categorizado em ['free/reduced', 'standard'];
 * `test preparation course`: categorizado em ['completed', 'none'];
 * `math score`: nota obtida em matemática, com valor de $0$ a $100$;
 * `reading score`: nota obtida em leitura, com valor de $0$ a $100$; e
 * `writing score`: nota obtida em escrita, com valor de $0$ a $100$.
 
<br> 

Ainda, foram criadas as seguintes variáveis a partir das notas em cada prova:
 * `Xm`: se a nota de matemática for >= 80, vale 1; caso contrário, vale 0;
 * `Xr`: se a nota de leitura for >= 80, vale 1; caso contrário, vale 0;
 * `Xw`: se a nota de escrita for >= 80, vale 1; caso contrário, vale 0;
 * `Performance`: é definida pela soma de Xm, Xr e Xw. Assim, por exemplo, se `Perfomance` para um estudante for igual a 2, então esse estudante teve score >= 80 nas duas dessas três provas; e de forma análoga para demais caso.
 
Essas quatro últimas variáveis serão criadas rodando alguns códigos a seguir.

[Volta ao Índice](#indice)

<div id="leitura"></div>

## Leitura da base de dados

In [2]:
print("Esperamos trabalhar no diretório")
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\fefea\Documents\GitHub\CD22-2\aula03

In [3]:
filename = 'StudentsPerformance.csv'

if filename in os.listdir():
    print(f'Parece que o arquivo {filename} está na mesma pasta do notebook da avaliação, yay!\n')
    
else:
    print(f'Não encontrei o arquivo {filename}.\n'
          f'O notebook e os arquivos de dados desta avaliação devem ser salvos dentro da mesma pasta no seu computador.\n')

Parece que o arquivo StudentsPerformance.csv está na mesma pasta do notebook da avaliação, yay!

In [4]:
# Carregando os dados
dados = pd.read_csv('StudentsPerformance.csv')
dados.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

[Volta ao Índice](#indice)

<div id="preparo"></div>

## Preparo da base de dados

**IMPORTANTE:** Executem, por favor, todos os comandos a seguir antes de chegar de iniciar a resoluçao dos exercícios.

In [5]:
# Transforma as cinco primeiras colunas da base de dados como categóricas
dados.iloc[:,0:5]=dados.iloc[:,0:5].astype('category')

# Faz apenas essa ser ordinal respeitando a ordem das categorias definidas em categories
dados['parental level of education'] = pd.Categorical(dados['parental level of education'], 
                                                     categories=['some high school', 'high school',
                                                                 'some college',
                                                                 "associate's degree","bachelor's degree","master's degree"],
                                                      ordered=True)

# Visualização das categorias dessas variáveis
(lambda mostra_categorias: list(map(lambda x: dados.iloc[:,x].cat.categories,
                                    mostra_categorias)))([0,1,2,3,4])

[Index(['female', 'male'], dtype='object'),
 Index(['group A', 'group B', 'group C', 'group D', 'group E'], dtype='object'),
 Index(['some high school', 'high school', 'some college', 'associate's degree',
        'bachelor's degree', 'master's degree'],
       dtype='object'),
 Index(['free/reduced', 'standard'], dtype='object'),
 Index(['completed', 'none'], dtype='object')]

In [6]:
# Quantifica como 1, se notas >= 80; caso contrário, como 0
umzero = lambda x: 1 if x >= 80 else 0
dados['Xm'] = dados['math score'].apply(umzero)
dados['Xr'] = dados['reading score'].apply(umzero)
dados['Xw'] = dados['writing score'].apply(umzero)

In [7]:
# Performance: número de provas com score >= 80 entre as 3 provas avaliadas
dados['Performance'] = dados.iloc[:,8:11].sum(axis=1)

In [8]:
# Conteúdo das 5 primeiras linhas da base de dados
dados.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Xm,Xr,Xw,Performance
0,female,group B,bachelor's degree,standard,none,72,72,74,0,0,0,0
1,female,group C,some college,standard,completed,69,90,88,0,1,1,2
2,female,group B,master's degree,standard,none,90,95,93,1,1,1,3
3,male,group A,associate's degree,free/reduced,none,47,57,44,0,0,0,0
4,male,group C,some college,standard,none,76,78,75,0,0,0,0

In [9]:
dados.dtypes

gender                         category
race/ethnicity                 category
parental level of education    category
lunch                          category
test preparation course        category
math score                        int64
reading score                     int64
writing score                     int64
Xm                                int64
Xr                                int64
Xw                                int64
Performance                       int64
dtype: object

[Volta ao Índice](#indice)

<div id="ex1"></div>

## Exercício 1 - Classificação das variáveis contidas na base de dados

Faça a classificação de cada variável escolhendo um entre os quatro tipos possíveis:
 * Qualitativa Nominal
 * Qualitativa Ordinal
 * Quantitativa Discreta
 * QuantitativA Contínua

# ESCREVA SUA RESPOSTA AQUI
gender                         Qualitativa Nominal
race/ethnicity                 Qualitativa Nominal
parental level of education    Qualitativa Ordinal
lunch                          Qualitativa Nominal
test preparation course        Qualitativa Ordinal
math score                        Quantitativa Discreta
reading score                     Quantitativa Discreta
writing score                     Quantitativa Discreta
Xm                                Quantitativa Discreta
Xr                                Quantitativa Discreta
Xw                                Quantitativa Discreta
Performance                       Quantitativa Discreta

<div id="ex2"></div>

## Exercício 2 - Análise exploratória dos dados

O objetivo principal que norteia a manipulação dessa base de dados é compreender quais as características do estudante que podem ser responsáveis pela performance do estudante nos testes.

Nesse caso, utilize ferramentas estatísticas numéricos e gráficas que permitam explorar o conjunto de dados.

In [ ]:
# ESCREVA SUA RESPOSTA AQUI

In [17]:
crossedu = pd.crosstab([dados['parental level of education'], dados['test preparation course']], dados.Performance, normalize='index') * 100
display(crossedu)
crossracial = pd.crosstab([dados['race/ethnicity'], dados['gender']], dados.Performance, normalize='index') * 100
display(crossracial)

Performance                                                  0          1  \
parental level of education test preparation course
some high school            completed                63.636364   9.090909
                            none                     76.470588   8.823529
high school                 completed                71.428571  10.714286
                            none                     82.857143   8.571429
some college                completed                49.350649  14.285714
                            none                     77.181208   6.711409
associate's degree          completed                46.341463   9.756098
                            none                     70.000000  13.571429
bachelor's degree           completed                45.652174  13.043478
                            none                     65.277778  11.111111
master's degree             completed                50.000000   0.000000
                            none                     58.974359   5.128205

Performance                                                  2          3
parental level of education test preparation course
some high school            completed                16.883117  10.389610
                            none                     10.784314   3.921569
high school                 completed                10.714286   7.142857
                            none                      4.285714   4.285714
some college                completed                15.584416  20.779221
                            none                      8.053691   8.053691
associate's degree          completed                20.731707  23.170732
                            none                      5.000000  11.428571
bachelor's degree           completed                17.391304  23.913043
                            none                     11.111111  12.500000
master's degree             completed                20.000000  30.000000
                            none                     10.256410  25.641026

Performance                    0          1          2          3
race/ethnicity gender
group A        female  66.666667  13.888889  11.111111   8.333333
               male    83.018868   3.773585   5.660377   7.547170
group B        female  64.423077   9.615385  16.346154   9.615385
               male    77.906977   4.651163   9.302326   8.139535
group C        female  64.444444   8.888889  15.000000  11.666667
               male    77.697842   9.352518   2.158273  10.791367
group D        female  60.465116   8.527132  17.829457  13.178295
               male    70.676692  13.533835   6.015038   9.774436
group E        female  56.521739   7.246377   5.797101  30.434783
               male    50.704225  19.718310  15.492958  14.084507